div {
      text-align: center;
}

.link {
      font-family: Helvetica;
      font-size: 70px;
      font-weight: bold;
      color: white;
}

# top-background {
                   background-image: url("./resources/images/flatironbuildingImage.png");
}

.process {
           font-family: Helvetica;
           font-size: 32px;
           font-weight: bold;
           
}
